<div class="margin-navbar">
  <div class="d-flex flex-column align-items-center justify-content-center">
    <h2>Bem vindo, <%= current_user.first_name %> </h2>
    <p>Suas notas:</p>
    <div>
      <% @notes.map do |note| %>
        <%= render 'note_card', note: note %>
      <% end %>
    </div>
  </div>
</div>
