.navbar-notes {
  justify-content: space-between;
  background: white;
  border-bottom: rgb(220, 220, 220) solid 1px;
}

.navbar-notes .navbar-collapse {
  flex-grow: 0;
}

.navbar-notes .navbar-brand img {
  width: 40px;
}
